HOST=0.0.0.0
PORT=1337
CLOUDINARY_KEY=249173325439172 
CLOUDINARY_NAME=dp8vcxyim 
CLOUDINARY_SECRET=jlLHzl-EqYqrfH01riTLGh2pkac 
DATABASE_URI=mongodb+srv://mhamdino2030@gmail.com:2357578mH;@cluster0.neuuq.mongodb.net/<dbname>?retryWrites=true&w=majority
 